
/* ==== semi bold ==== */
@font-face {
    font-family: 'bellotabold';
    src:url('../fonts/Bellota-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
/* ========= font for logo ========= */
@font-face {
    font-family: 'perspective_sans_blackregular';
    src:url('../fonts/persanbk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../fonts/RobotoCondensed-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
/* ========= pararapg ======= */
@font-face {
    font-family: 'philosopherregular';
    src:url('../fonts/Philosopher-Regular-webfont.woff') format('woff');
    font-style: normal;
    font-style: normal;

}





