@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Vollkorn', sans-serif;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
p{
    font-size: 1.6rem;
}
:root{
    --whitecolor:#FEF9EF;
    --blackcolor:#191A19;
    --lightblack:#2D2424;
    --lightwhite:#EFE3D0;
    --wwhitecolor:#DEEEEA;
    --blackwhite:#423F3E;
    --lightpink:#D83A56;
    --watergreen:#3A6351;
    --darkblue:#0A1931;
    --blackwhite2:#5B5B5B;
    --purplecolor:#9D65C9;
    --skybluecolor:#00BCD4;
    
}
/*
img{
    display: block;
    width: 100%;
}*/

.main-navigationbar{
    position: fixed;
    width: 100%;
    height: 7.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--lightwhite);
    z-index: 1000;
    outline: .3rem solid var(--purplecolor);
}
.main-navigationlinks{
    display: flex;
    list-style: none;
}
.main-navigationlinks li{
    margin-left: 1.1rem;
    position: relative;
}
.main-navigationlinks li::before{
    content: '';
    position: absolute;
    width: 100%;
    height: .3rem;
    margin-bottom: -0.2rem;
    background: var(--skybluecolor);
    left: 0;
    bottom: 0;
    transform: scale(0,1);
    transition: .3s;
}
.main-navigationlinks li:hover::before{
    transform: scale(1,1);
}

.main-navigationlinks li a{
    color: var(--blackcolor);
    font-size: 1.9rem;
    text-transform: capitalize;
    padding: .4rem .7rem;
}

/* ===================== hamburger manubar =============== */
.hamburger-menubar{
    display:none;
    height: 3.4rem;
    width: 4.5rem;
    background: none;
    border: .11rem solid #000;
    border-radius: .4rem;
    margin-left:1.6rem;
    text-align: center;
    cursor: pointer;
}
.hamburger-menubar .bar{
    display: block;
    height:0.1rem;
    width: 3rem;
    background: var(--blackcolor);
    padding: .1rem 0;
    margin:.6rem ;
    transition: .4s ease-out;
} 
.hamburger-menubar.active .bar:nth-child(1){
    transform: translateY(.9rem);  
 }
 .hamburger-menubar.active .bar:nth-child(2){
     opacity: 0;
 }
 .hamburger-menubar.active .bar:nth-child(3){
     transform: translateY(-.9rem);  
  }
/* ==================== End menubar =================== */


/* ================ light/dark mode =================== */
#checkbox{
        font-size: 2.2rem;
        margin-right: 1.5rem;
        cursor: pointer;
        position: relative;
        padding: .6rem;
        border: .2rem solid var(--blackcolor);
        border-radius: 45%;
}
body.dark{
    background: #3d3838;
}
body.dark .main-navigationbar{
    background: var(--blackcolor);
}
body.dark .about,
body.dark .project{
    background: var(--blackcolor);
}
body.dark #checkbox{
    border-color: var(--wwhitecolor);
}
body.dark .hamburger-menubar{
    border-color: var(--wwhitecolor);
}
body.dark .hamburger-menubar .bar{
    background: var(--wwhitecolor);
}
body.dark a,
body.dark i,
body.dark .about p,
body.dark .project p,
body.dark .about a,
body.dark .about h1{
    color: var(--wwhitecolor);
}
body.dark .about-maincontainer{
    border-color: rgb(173, 163, 163);
}
/* ================== End light/darl mode =============== */

/* ===================== fixed background =============== */
.home{
    min-height: 100vh;
    padding: 3rem 7%;
}
.home figure img{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -3;
}
.home-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    top: 18rem;
    left: .8rem;
}
.home-container .home-row{
    padding: .5rem 1rem;
    width: 42rem;
}
.home-container .home-row h1{
    font-size: 3.4rem;
    color: var(--wwhitecolor);
    text-transform: uppercase;
    font-weight: 500;
    padding: 0 .4rem;

}
.home-container .home-row h1::first-letter{
    font-size:4.5rem ;
}
.home-container .home-row p{
    color:var(--wwhitecolor);
    font-size: 1.8rem;
    font-weight: 400;
    padding: 0 .5rem;
}
.home-container .home-row p::first-letter{
    font-size: 2.3rem;
    color: var(--lightpink);
}

/* ============== about section ================ */
.about{
    min-height: 100vh;
    background:var(--wwhitecolor);
    padding: 2.5rem 15%;
}
.about-maincontainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 6.5rem;
    padding: 2rem 0;
    border-top: .2rem solid #000;
}
.about-maincontainer .figure {
    width: 100%;
    height: 100%;
}
.about-maincontainer .figure img{
    width: 100%;
    height: 100%;
}
.about-maincontainer .figure-des h1{
    display: block;
    font-size: 3.5rem;
    text-decoration: underline;
}
.about-maincontainer .figure-des p{
    font-size: 1.5rem;
    line-height: 2.7rem;
}
.figure-des .social-sites{
    position: relative;
    top: 5.5rem;
    text-align: center;
}
.figure-des .social-sites a{
    font-size: 2.3rem;
    margin: 0 1.4rem;
    color: var(--blackcolor);
}


/* ================ projects section ================== */

.project{
    min-height: 100vh;
    background: var(--wwhitecolor);
    padding: 2rem;
}
.projects-container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.projects-container figure{
    width:33rem;
    position: relative;
}
figure img{
    width: 100%;

}





/* ==================== mediaQueries ================ */
@media(max-width:760px){
    html{
        font-size: 55.5%;
    }
    .hamburger-menubar{
        display: block;
    }
    
    .main-navigationlinks{
        position: absolute;
        top: 100%;
        background: var(--watergreen);
        height: 50vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: polygon(0 0, 100% 0,  100% 0, 0 0);
        transition: 0.4s ease-in-out;
    }
    .main-navigationlinks li{
        margin: 1.5rem 0;
    }
    .main-navigationlinks li a{
        background: none;
    }
    .main-navigationlinks.active2{
        clip-path:polygon(0 0 , 100% 0, 100% 100%, 0 100%) ;
    }
    .about-maincontainer{
        grid-template-columns: repeat(1, 1fr);
    
    }
    .about-maincontainer .figure{
        padding:1.5rem;

    }
}

    


@media(max-width:460px){
    html{
        font-size: 50.5%;
    }
    .about-maincontainer .figure{
        padding: 0; 
}

}
